{{#extend "stylesheets"}}
		<!-- Plugins -->
		<link href="/css/animations.css" rel="stylesheet">

{{/extend}}
			<!-- page-top start-->
			<!-- ================ -->
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="call-to-action">
								<h1 class="title">良医智库</h1>
								<p>下载安装手机APP注册，畅想移动新生活</p>
								<div class="row">
									<div class="col-sm-4">
										<div class="box-style-1 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
											<a href="#" class="btn btn-white more"><i class="pl-10 fa fa-android"></i>	</a>
											<h3>Android版下载</h3>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="box-style-1 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
											<a href="#"  class="btn btn-white more"><i class="pl-10 fa fa-apple"></i></a>
											<h3>IOS版下载</h3>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="box-style-1 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
											<img src='/images/qrcode-download.png'></i>
											<h3>扫描二维码</h3>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- page-top end -->

			<!-- section start -->
			<section class="main-container default-bg">
			<!-- ================ -->
			<div class="clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h1 class="text-center">医学会议</h1>
							<div class="separator"></div>
							<p class="lead text-center">丰富的医学会议，让您快速了解行业动态和前沿技术。</p>
							<br>
							<div class="box-style-3 left">
								<div class="icon-container default-bg">
									<i class="fa fa-search"></i>
								</div>
								<div class="body">
									<h2>会议发现</h2>
									<p>即将举办的医学会议尽在掌握，不错过与权威交流的机会.</p>
								</div>
							</div>
							<div class="box-style-3 left">
								<div class="icon-container default-bg">
									<i class="fa fa-check-square"></i>
								</div>
								<div class="body">
									<h2>在线报名</h2>
									<p>简单快捷的一键报名，给您带来不一样的体验.</p>
								</div>
							</div>
							<div class="box-style-3 left">
								<div class="icon-container default-bg">
									<i class="fa fa-pencil-square-o"></i>
								</div>
								<div class="body">
									<h2>会议学习</h2>
									<p>每次会议都提供总结，让您不到现场也能跟踪医学前沿技术。</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<img src="/images/meeting.png" alt="">
							<div class="space hidden-md hidden-lg"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
			<!-- section end -->


			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<!-- main start -->
				<!-- ================ -->
				<div class="main">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1 class="text-center title">视频直播</h1>
								<div class="separator"></div>
								<p class="text-center">专业、权威的专家直播演讲、教学视频！</p>
								<div class="row">
									<div class="col-sm-4">
										<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
											<i class="fa fa-video-camera"></i>
											<h2>会议直播</h2>
											<p>我们提供流畅的在线观看体验，让您不到会场也能聆听医学大咖的实时演讲，学习最新的医学知识，精彩内容，尽在直播现场，我们邀您一起体验......</p>
											<a href="/meeting_forcast" class="btn-default btn">更多精彩...</a>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
											<i class="fa fa-laptop"></i>
											<h2>视频教学</h2>
											<p>将教师要传授给学生的知识、技能等内容制作成视频形式，以辅助现代化多媒体教学，更加生动，形象的展现出在课堂上无法实际操作的内容，方便学习者能够随时随地反复学习</p>
											<a href="/video_review" class="btn-default btn">更多精彩...</a>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
											<i class="fa fa-graduation-cap"></i>
											<h2>专家讲堂</h2>
											<p>汇集学术上有成就的医学专家的会议演讲、课程教学等视频，让你错过面对面会议交流、在线直播也没关系，我们整理了不同专家的海量视频等您看，和您一起成长</p>
											<a href="/video_expert" class="btn-default btn">更多精彩...</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- main end -->

			</section>
			<!-- main-container end -->

			<!-- section start -->
			<!-- ================ -->
			<div class="section clearfix default-bg">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6">
									<img src="/images/discuss.png" alt="">
								</div>
								<div class="col-md-6">
									<h1 class="text-center">医聊圈</h1>
									<div class="separator"></div>
									<p>医聊圈是一个网上空间，为了保证谈话的焦点，聊天室通常有一定的谈话主题。任何一个联入Internet、使用正确的聊天软件，并且渴望谈论的人都可以享受其乐趣。聊天室会话是自然会话在信息时代的延伸。合作原则解释不了聊天室会话的诸多问题,没有其适用性。/p>
									<p>医聊圈是网站中以文字或符号显示为信息传递方式的聊天方式。聊天室有一对一聊天、多人群聊等形式。文字聊天室多见于手机功能，或使用手机应用进行文字聊天，或使用浏览器作为载体进行网页文字聊天<</p>
									<div class="space hidden-md hidden-lg"></div>
								</div>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
			<!-- section end -->

{{#extend "bottom_scripts"}}
		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="/plugins/modernizr.js"></script>

		<!-- Appear javascript -->
		<script type="text/javascript" src="/plugins/jquery.appear.js"></script>


		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="/js/template.js"></script>

{{/extend}}
